<!-- content start -->
<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="bg-white" style="padding:20px 40px 0 40px;">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="mb20">
                            <p class="lead bigHeader">Crypto currency calculators - coming soon</p>
                        </div>
                    </div>
                </div>
                <div class="compare-block mb30">
                    <div class="compare-title bg-primary pinside10" style="background-color: #83bcfa;">
                        <h3 class="mb0">Prices</h3>
                    </div>
                    <div class="compare-row outline pinside10" style="border: 1px solid #83bcfa;">
                        <div class="row">
                       
                           
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="text-center">
                                    <h3 class="rate"><select class="form-control"><option>Bitcoin</option>
                                    <option>Litecoin</option>
                                    </select></h3>
                                   <b> <small>From coin</small></b> </div>
                            </div>
                            <div class="col-md-3 col-sm-3 col-xs-6">
                                <div class="text-center">
                                    <h3 class="fees"><input type="text" class="form-control"/></h3>
                                     </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="text-center">
                                    <h3 class="compare-rate"><select class="form-control"><option>Bitcoin</option>
                                    <option>Litecoin</option>
                                    </select></h3>
                                    <b><small>To coin</small></b> </div>
                            </div>
                            <div class="col-md-2 col-sm-2 col-xs-6">
                                <div class="text-center">
                                    <h3 class="repayment"><input type="text" class="form-control"/></h3>
                                    </div>
                            </div>
                            <div class="col-md-2 col-sm-3 col-xs-12">
                                <div class="text-center comapre-action"> <a href="#" class="btn btn-default btn-sm">Calculate</a> </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
    <div class="col-md-12">
        <div class="bg-white " style="padding:20px 40px 0 40px;">
            
            <div class="compare-block mb30">
                <div class="compare-title bg-primary pinside10" style="background-color: #83bcfa;">
                    <h3 class="mb0">Crypto - USD</h3>
                </div>
                <div class="compare-row outline pinside10" style="border: 1px solid #83bcfa;">
                    <div class="row">
                    <div class="col-md-2 col-sm-2 col-xs-6">
                   
                        <h3 class="rate">Date time picker</h3>
                      
                </div>
                       
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <div class="text-center">
                                <h3 class="rate"><select class="form-control"><option>USD</option>
                                </select></h3>
                               <b> <small>From coin</small></b> </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <div class="text-center">
                                <h3 class="fees"><input type="text" class="form-control"/></h3>
                                 </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-6">
                            <div class="text-center">
                                <h3 class="compare-rate"><select class="form-control"><option>Bitcoin</option>
                                <option>Litecoin</option>
                                </select></h3>
                                <b><small>To coin</small></b> </div>
                        </div>
                        <div class="col-md-2 col-sm-2 col-xs-6">
                            <div class="text-center">
                                <h3 class="repayment"><input type="text" class="form-control"/></h3>
                                </div>
                        </div>
                        <div class="col-md-2 col-sm-3 col-xs-12">
                            <div class="text-center comapre-action"> <a href="#" class="btn btn-default btn-sm">Calculate</a> </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
<div class="col-md-12">
    <div class="bg-white " style="padding:20px 40px 0 40px;">
        <div class="compare-block mb30">
            <div class="compare-title bg-primary pinside10" style="background-color: #83bcfa;">
                <h3 class="mb0">Prices History</h3>
            </div>
            <div class="compare-row outline pinside10" style="border: 1px solid #83bcfa;">
                <div class="row">
                <div class="col-md-2 col-sm-2 col-xs-6">
               
                    <h3 class="rate">Date time picker</h3>
                  
            </div>
                   
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <div class="text-center">
                            <h3 class="rate"><select class="form-control"><option>Bitcoin</option>
                            <option>Litecoin</option>
                            </select></h3>
                           <b> <small>From coin</small></b> </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <div class="text-center">
                            <h3 class="fees"><input type="text" class="form-control"/></h3>
                             </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-6">
                        <div class="text-center">
                            <h3 class="compare-rate"><select class="form-control"><option>Bitcoin</option>
                            <option>Litecoin</option>
                            </select></h3>
                            <b><small>To coin</small></b> </div>
                    </div>
                    <div class="col-md-2 col-sm-2 col-xs-6">
                        <div class="text-center">
                            <h3 class="repayment"><input type="text" class="form-control"/></h3>
                            </div>
                    </div>
                    <div class="col-md-2 col-sm-3 col-xs-12">
                        <div class="text-center comapre-action"> <a href="#" class="btn btn-default btn-sm">Calculate</a> </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>

</div>