
<div class="container">
<h2>Coming sooooooon</h2>
<div class="row" style="    margin-top: 50px;">

    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="" style="background-color: #15549a;

padding: 20px;">

            <center>
                <h1 class="slider-title">Your balance ~ </h1>
                <h1 style="color:#83bcfa"> $558</h1>
            </center>

            <center>
                <h1 class="slider-title">On orders: </h1>
                <h1 style="color:#83bcfa"> $558</h1>
            </center>
            <center> <a href="team.html" class="btn btn-default hidden-xs">Go to Exchange</a>
        </center></div> 
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
        <div class="row">
            <div class="col-md-4 col-sm-6 nopadding col-xs-12">
                <div class="bg-white  number-block outline" style="background-color:#83bcfa">
                    <div class="mb20"><img src="/assets/walletb.png" style="margin-top:25px"/></div>
                    <h3>Wallets</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 nopadding col-xs-12">
                <div class="bg-white  number-block outline">
                    <div class="mb20"><img src="/assets/history.png" style="margin-top:25px"/></div>
                    <h3>History</h3>
                </div>
            </div>
            <div class="col-md-4 col-sm-12 nopadding col-xs-12">
                <div class="bg-white  number-block outline">
                    <div class="mb20"><img src="/assets/settings.png" style="margin-top:25px"/></div>
                    <h3>Settings</h3>

                </div>
            </div>
        </div>
        <div class="row" style="border: 1px solid #83bcfa;
        height: 196px;
        position: relative;
        top: 5px;">
            <table class="table table-bordered"> <thead> <tr>  <th class="col-md-4">Coin</th> <th class="col-md-4">Balance</th> <th class="col-md-4">On orders</th> </tr> </thead> <tbody> <tr> <td><a>Bitcoin</a></td> <td>$200</td> <td>$20</td> </tr> <tr>  <td><a>Litecoin</a></td> <td>$20</td> <td>$10</td> </tr> <tr>  <td><a>Peercoin</a></td> <td>450</td> <td>$20</td> </tr> </tbody> </table>
        </div>

      
    </div>
</div>
</div>

<div class="row" style="margin-top:50px;margin-botton:50px"> <h1 style="margin-bottom:20px">Last actions</h1>
<table class="table table-bordered">
<thead>
    <tr>
        <th class="col-md-4">Date</th>
        <th class="col-md-4">Balance</th>
        <th class="col-md-4">Type</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>
            <a>2017-12-04 15:39:44</a>
        </td>
        <td></td>
        <td>Deposit</td>
    </tr>
    <tr>
        <td>
            <a>2017-12-04 15:39:44</a>
        </td>
        <td>$20</td>
        <td>Deposit</td>
    </tr>
    <tr>
        <td>
            <a>2017-12-04 15:39:44</a>
        </td>
        <td>450</td>
        <td>Deposit</td>
    </tr>
</tbody>
</table>
</div>

<div class="row" style="margin-top:50px;margin-botton:50px"> <h1 style="margin-bottom:20px">Statistics...</h1>

</div>
<div class="row">
<img src="/assets/earnings.png" style="width:100%"></img>
</div>