<div class="container">
  <h2>Add story</h2>
  <form method="post" action="/newsadmin/save_story">
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="title" class="form-control" id="title" placeholder="Enter title" name="title">
    </div>
    <div class="form-group">
      <label for="body">Body:</label>
      <textarea class="form-control" rows="10" id="body" placeholder="Enter body" name="body"></textarea>
    </div>
    <button type="submit" class="btn btn-default">Save story</button>
  </form>
</div>
</br></br>
