<div class="row">
<div class="col-md-12">
    <div class="wrapper-content bg-white ">
        <div class="about-section pinside40">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="mb10" ><b>What is a Bitcoin Wallet?</b></h2>
                    <img src="/assets/bitcoins.png" style="float:right;width: 230px;"></img>
                    <h2 class="safe_lead mb10">A Bitcoin wallet is the first step to using Bitcoin.
                    
                    Why?</p>
                    <p class="safe_lead mb10">- You can think of a wallet as your personal interface to the Bitcoin network, similar to how your online bank account is an interface to the regular monetary system.</p>
                      <p class="safe_lead mb10">- Bitcoin wallets contain private keys; secret codes that allow you to spend your bitcoins.
                      
                      In reality, it’s not bitcoins that need to be stored and secured, but the private keys that give you access to them.
                      
                      In short:</p>
                      <p>- A Bitcoin wallet is simply an app, website, or device that manages Bitcoin private keys for you.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>