<div class="row">
<div class="col-md-12">
    <div class="wrapper-content bg-white ">
        <div class="about-section pinside40">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="mb10" >Hardware wallets and where to buy  - coming soon </b></h2>
                    <p class="safe_lead mb10">- </p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>