<div class="row">
<div class="col-md-12">
    <div class="wrapper-content bg-white ">
        <div class="about-section pinside40">
            <div class="row">
                <div class="col-md-12 col-sm-12">
                    <h2 class="mb10" ><b>How To Protect Yourself from Loss</b></h2>
                    <img src="/assets/haker.jpg" style="float:right"></img>
                    <p class="safe_lead mb10">- Make a backup of your private key and password. Do NOT just store it on your computer. Print it out on a piece of paper or save it to a USB drive..</p>
                    <p class="safe_lead mb10">- Do not store your private key in Dropbox, Google Drive, or other cloud storage. If that account is compromised, your funds will be stolen..</p>
                      <p class="safe_lead mb10">- If you have more than 1-week's worth of pay worth of cryptocurrency, get a hardware wallet. No excuses. It's worth it. I promise.</p>
                </div>
            </div>
        </div>
    </div>
</div>
</div>