<div style="margin-bottom:40px;">
<div class="bg-default section-space80">
<div class="container"  >


    <div class="row">
        <div class="col-md-offset-2 col-md-8 col-sm-offset-2 col-sm-8">
            <div class="mb60 text-center section-title">
                <!-- section title start-->
                <h1 class="title-white">1. Select a template</h1>
                <p> Designe your paper wallet and send it to your friend.</p>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-4 clearfix col-xs-12">
            <div class="testimonial-block mb30">
                <div class="bg-white  mb20" style="height:188px">
                    <div class="testimonial-text" style="border: 3px solid #83bcfa;"> <img style="width: 374px;
                    height: 183px;display:block" src="/assets/hbi.jpg"></img></div>
                </div>
                <div class="testimonial-autor-box">
                    <div class="testimonial-img pull-left">  </div>
                    <div class=" pull-left">
                        <h4 class="testimonial-name">Happy birthday</h4>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 clearfix col-xs-12">
            <div class="testimonial-block mb30">
                <div class="bg-white  mb20" style="height:188px">
                    <p class="testimonial-text" style="border: 3px solid #83bcfa;"> <img  style="width: 374px;
                    height: 183px;" src="/assets/hny.jpg"></img></p>
                </div>
                <div class="testimonial-autor-box">
                    <div class="testimonial-img pull-left">  </div>
                    <div class=" pull-left">
                        <h4 class="testimonial-name">Happy new year</h4>
                         </div>
                </div>
            </div>
        </div>
        <div class="col-md-4 col-sm-4 clearfix col-xs-12">
            <div class="testimonial-block mb30">
                <div class="bg-white  mb20" style="height:188px;border: 3px solid #83bcfa;">
                    <p class="testimonial-text"> </p>
                </div>
                <div class="testimonial-autor-box">
                    <div class="testimonial-img pull-left"> </div>
                    <div class=" pull-left" >
                        <h4 class="testimonial-name">Custom  ..</h4>
                         </div>
                </div>
            </div>
        </div>
    </div>


    
</div>
</div>











<div class="section-space80" style="box-shadow:1px 3px 43px 1px rgba(144, 161, 180, 0.2);    border: 3px solid #15549a;
background-color: rgba(144, 161, 180, 0.2);">
<div class="container">
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
            <div class="section-title mb60 text-center">
                <!-- section title start-->
                <h1>2. Select wallet</h1>
                <p class="lead"><select class="form-control">
                <option> Bitcoin , <b>Public key</b>:88888887777777777777777JJJJJJJJJJJJJJJJ, <b>Balance</b> :10 BTc </option>
                <option>Litecoin , <b>Public key</b>:88888887777777777777777JJJJJJJJJJJJJJJJ, <b>Balance</b> :10 BTc</option>
                </select></p>
            </div>
            <!-- /.section title start-->
        </div>
    </div>
  
</div>
</div>


<a href="#" class="btn btn-primary btn-lg" style="width: 100%;">  Generate paper wallet </a>

</div>

