<div class="wrapper-content bg-white pinside40">
<div class="row">
    <div class="mb30">
    <h1 style="padding:0 0 0 14px">Choose the best plan for you</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card-listing">
          
            <div class="card-content">
                <h3 class="card-name"><a href="#" class="title">Shared wallets</a></h3>
                <div class="card-features ">
                    <ul class="listnone">
                        <li>Suitable for people who transfer small amounts</li>
                        <li><strong>Benefits:</strong> </li>
                        <li> Zero fuel surcharge</li>
                    </ul>
                </div>
                <a href="/signup" class="btn btn-default btn-sm">Next</a>
                <a href="#" class="btn-link"> Read More</a>
            </div>
        </div>
        <!-- /.card listing -->
    </div>
   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card-listing">
            <!-- card listing -->
            <div class="card-img">
                <a href="#"></a>
            </div>
            <div class="card-content">
                <h3 class="card-name"><a href="#" class="title">Personal wallets</a></h3>
                <div class="card-features ">
                    <ul class="listnone">
                        <li><strong>25%</strong> off on movies and up to 20% off on dining</li>
                        <li>Bouquet of discount vouchers as welcome gift</li>
                        <li> 3 Reward Points oan Rs. 150 spent.</li>
                    </ul>
                </div>
                <a href="/registration1" class="btn btn-default btn-sm">Next</a>
                <a href="#" class="btn-link"> Read More</a>
            </div>
        </div>
        <!-- /.card listing -->
    </div>
   
</div>
</div>