<div class="wrapper-content bg-white pinside40">
<div class="row">
    <div class="mb30">
    <h1 style="padding:0 0 0 14px">Choose the best plan for you</h1>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card-listing">
          
            <div class="card-content">
                <h3 class="card-name"><a href="#" class="title">Fix wallet</a></h3>
                <div class="card-features ">
                    <ul class="listnone">
                        <li>A shared wallet</li>
                        
                    </ul>
                </div>
                <a href="/signup" class="btn btn-default btn-sm">Next</a>
                <a href="#" class="btn-link"> Read More</a>
            </div>
        </div>
        <!-- /.card listing -->
    </div>
   
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
        <div class="card-listing">
            <!-- card listing -->
            <div class="card-img">
                <a href="#"></a>
            </div>
            <div class="card-content">
                <h3 class="card-name"><a href="#" class="title">Portable wallet</a></h3>
                <div class="card-features ">
                    <ul class="listnone">
                        <li>A personal wallet is separate with a unique ID on the blockchain</li>
                    </ul>
                </div>
                <a href="/registration1" class="btn btn-default btn-sm">Next</a>
                <a href="#" class="btn-link"> Read More</a>
            </div>
        </div>
        <!-- /.card listing -->
    </div>
   
</div>
</div>