<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/deposit_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/deposit_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/deposit_eth.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/deposit_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/deposit_doge.html'"></ng-include>
<ng-include ng-if="currency == 'dash'" src="'/templates/funds/deposit_dash.html'"></ng-include>
<ng-include ng-if="currency == 'ric'" src="'/templates/funds/deposit_ric.html'"></ng-include>
<ng-include ng-if="currency == 'flo'" src="'/templates/funds/deposit_flo.html'"></ng-include>
<ng-include ng-if="currency == 'ppc'" src="'/templates/funds/deposit_ppc.html'"></ng-include>
<ng-include ng-if="currency == 'xpm'" src="'/templates/funds/deposit_xpm.html'"></ng-include>
