<ng-include src="'/templates/funds/_flash.html'"></ng-include>
<ng-include ng-if="currency == 'cny'" src="'/templates/funds/withdraw_cny.html'"></ng-include>
<ng-include ng-if="currency == 'btc'" src="'/templates/funds/withdraw_btc.html'"></ng-include>
<ng-include ng-if="currency == 'eth'" src="'/templates/funds/withdraw_eth.html'"></ng-include>
<ng-include ng-if="currency == 'ltc'" src="'/templates/funds/withdraw_ltc.html'"></ng-include>
<ng-include ng-if="currency == 'doge'" src="'/templates/funds/withdraw_doge.html'"></ng-include>
<ng-include ng-if="currency == 'dash'" src="'/templates/funds/withdraw_dash.html'"></ng-include>
<ng-include ng-if="currency == 'ric'" src="'/templates/funds/withdraw_ric.html'"></ng-include>
<ng-include ng-if="currency == 'xpm'" src="'/templates/funds/withdraw_xpm.html'"></ng-include>
<ng-include ng-if="currency == 'ppc'" src="'/templates/funds/withdraw_ppc.html'"></ng-include>
<ng-include ng-if="currency == 'flo'" src="'/templates/funds/withdraw_flo.html'"></ng-include>