<div class="container">
<div class="row">
    <div class="col-md-12">
        <div class="wrapper-content bg-white pinside40">
            
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="section-title mb30">
                            <h1>List of cryptocurrencies</h1>
                            
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                    <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Coin</th>
                            <th>Name Name</th>
                            <th>Status</th>
                            <th>Link</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                        <th scope="row">1</th>
                            <th >BTC</th>
                            <td>Bitcoin</td>
                            <td>Active</td>
                            <td><a href="https://blockchain.info/">https://blockchain.info/</a></td>
                        </tr>
                        <tr>
                        <th scope="row">2</th>
                            <th >LTC</th>
                            <td>Litecoin</td>
                            <td>Active</td>
                            <td><a href="https://blockchain.info/">https://blockchain.info/</a></td>
                        </tr>
                        <tr>
                        <th scope="row">3</th>
                            <th >DOGE</th>
                            <td>Dogecoin</td>
                            <td>Active</td>
                            <td><a href="http://dogecoin.com/">http://dogecoin.com/</a></td>
                        </tr>
                        <tr>
                        <th scope="row">4</th>
                            <th >DASH</th>
                            <td>Dash</td>
                            <td>Active</td>
                            <td><a href="https://www.dash.org/">https://www.dash.org/</a></td>
                        </tr>
                        <tr>
                        <th scope="row">5</th>
                            <th >PPC</th>
                            <td>Peercoin</td>
                            <td>Active</td>
                            <td><a href="https://peercoin.net/">https://peercoin.net/</a></td>
                        </tr>
                        <tr>
                        <th scope="row">6</th>
                            <th >XPM</th>
                            <td>Primecoin</td>
                            <td>Active</td>
                            <td><a href="http://primecoin.io/">http://primecoin.io/</a></td>
                        </tr>
                        <tr>
                        <th scope="row">7</th>
                            <th >FLO</th>
                            <td>Florincoin</td>
                            <td>Active</td>
                            <td><a href="http://florincoin.org/">http://florincoin.org/</a></td>
                        </tr>
                        <th scope="row">8</th>
                        <th >RIC</th>
                        <td>Riecoin</td>
                        <td>Active</td>
                        <td><a href="http://riecoin.org/">http://riecoin.org/</a></td>
                    </tr>
                    </tbody>
                </table>
                    </div>
                </div>
            
        </div>
    </div>
</div>
</div>